.container {
  width: 60%;
  margin: auto;
}

* {
  margin: 0;
  font-family: "Cocogoose", sans-serif;
}

body {
  box-sizing: border-box;
}

nav {
  background-color: white;
  border-bottom: 1px solid #c9c9c9;
  padding: 10px 20px 10px 20px;
}

.flex {
  display: flex;
}

ul {
  margin: 0;
  width: 60%;
  justify-content: space-between;
}

li {
  list-style: none;
  padding: 10px 10px 10px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-container {
  justify-content: space-between;
}

.fas {
  color: white;
}

.fa-square-full {
  z-index: -1;
}

.body-container {
  position: relative;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgb(207, 207, 207) 0%,
    rgb(226, 226, 226) 35%,
    rgb(255, 255, 255) 100%
  );
}

.body-container h1 {
  width: 70%;
  font-size: 50px;
  background: -webkit-linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body-container .h2-heading {
  color: rgb(221, 124, 88);
  font-size: 30px;
}

.body-container .date {
  font-size: 25px;
  color: rgb(65, 65, 65);
  padding: 5px 0 5px 0;
}

.body-container h3 {
  color: rgb(65, 65, 65);
  font-weight: lighter;
}

.body-container h5 {
  font-size: 14px;
  padding: 20px;
  width: 45%;
}

.center-container {
  padding: 100px;
}

.logo {
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

li a {
  text-decoration: none;
  color: inherit;
}

.campaign {
  border: 3px solid #ec5242;
  color: #ec5242 !important;
  background: white;
  font-weight: bold;
  cursor: pointer;
}

.position {
  position: absolute;
  top: 40%;
  left: 10%;
}

.position2 {
  position: absolute;
  top: 20%;
  left: 60%;
}

.position3 {
  position: absolute;
  top: 70%;
  left: 70%;
}

.nav-mobile {
  display: none;
}

.fa-bars {
  color: black;
  z-index: 1;
}

.container-partner {
  background-color: #272a31;
  text-align: center;
}

.partner {
  color: #d3d3d3;
}

.partner h1 {
  padding: 40px 0 10px 0;
}

.partner img {
  padding-bottom: 40px;
}

.w-50 {
  width: 50%;
}

.copy {
  justify-content: space-between;
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }

  .center-container {
    padding: 0;
  }

  .nav-container {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .body-container h1 {
    width: 100%;
    font-size: 30px;
  }

  .body-container h5 {
    width: 90%;
    padding: 20px 0 20px 0;
  }

  .body-container h2 {
    padding: 60px 0 0 10px;
  }

  .body-container h1 {
    padding-left: 10px;
    width: 90%;
  }

  .body-container h5 {
    padding: 30px 0 30px 30px;
  }

  .body-container h3 {
    padding: 10px 0 60px 10px;
  }

  .body-container .date {
    padding: 10px 0 20px 10px;
  }
}
@media (max-width: 768px) {
  .nav-container {
    width: 70%;
  }
}
